<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <body class="<%= classname %>">
   	<% include partials/page/header.ejs %>
  	<div class='container'>
  	<h1><%= title %></h1>
    
    <form method="post" action="/set_alarm">
      <% var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
      <% for(var i=0; i<alarms.length; i++) { %>
        <% var alarm = alarms[i] %>
        <% var dow = days[alarm.dayOfWeek] %>
        <label for="time"><%= dow %> </label>
        <input type="time" value="<%= alarm.time %>" name="times">
        <label for="enabled">Enabled: </label> 
        <input type="checkbox" name="enabled" value="<%= i %>" <% if (alarm.enabled) { %> checked <% } %> >
        <br>
      <% } %>

      <br>
      <input value="Update" type="submit">
    </form>

  	</div> <!-- container -->
 	  <% include partials/page/footer.ejs %>
 	  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
