<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <body class="<%= classname %>">
   	<% include partials/page/header.ejs %>
  	<div class='container'>
  	<h1><%= title %></h1>
    
    <form method="post" action="/set_alarm">
      <% for(var i=0; i<alarms.length; i++) { %>
        <% var alarm = alarms[i] %>
        <label><%= alarm.dayOfWeek %> </label>
        <input type="time" value="<%= alarm.datetime %>" name="<%= alarm.dayOfWeek %>">
        <br>
      <% } %>

      <br>
      <input value="Upload" type="submit">
    </form>

  	</div> <!-- container -->
 	  <% include partials/page/footer.ejs %>
 	  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
